.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: var(--animation-time);
  animation-fill-mode: forwards;
  will-change: transform;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: var(--animation-time);
  animation-fill-mode: forwards;
  will-change:transform;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {
    transform: matrix(1,0,0,1,0,0);
  }
  to {transform: matrix(1,0.89,-0.89,1,0,33);
  }
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {}
  to {}
}
